.container{
    padding: 20px;
    @media screen and (min-width:768px){
        padding: 40px;
    }
    .session{
        color: red;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .high-value{
        margin-bottom: 10px;
        input{
            height: 30px;
            display: inline-block;
            width: 50vw;
        }
    }
    .row-value{
        margin-bottom: 10px;
        input{
            height: 30px;
            display: inline-block;
            width: 50vw;
        }
    }
    .date{
        margin-bottom: 10px;
        input{
            height: 30px;
        }
    }
    .submit{
        margin-bottom: 10px;
        input{
            height: 30px;
        }
    }
    .back{
        transition-duration:.3s;
        &:hover{
            opacity:.5;
            transition-duration:.3s;
        }
    }
    h1{
        font-size: 16px;
        width:fit-content;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 30px;
        @media screen and (min-width:768px){
            font-size: 20px;
        }
    }
    a{
        display: block;
        font-size: 13px;
        color:red;
        margin-top: 20px;
        @media screen and (min-width:768px){
            font-size: 16px;
        }
    }
}