.chart-container {
  height: 400px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .chart-container {
    padding: 40px;
  }
}
.chart-container .create, .chart-container .admin {
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color: red;
  transition-duration: 0.3s;
}
@media screen and (min-width: 768px) {
  .chart-container .create, .chart-container .admin {
    font-size: 16px;
  }
}
.chart-container .create:hover, .chart-container .admin:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}
.chart-container h1 {
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .chart-container h1 {
    font-size: 20px;
  }
}
