/* .chart-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow-x: auto;
}
@media screen and (min-width: 768px) {
  .chart-container {
    padding: 20px;
  }
}
.chart-container .create, .chart-container .admin {
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color: red;
  transition-duration: 0.3s;
}
@media screen and (min-width: 768px) {
  .chart-container .create, .chart-container .admin {
    font-size: 16px;
  }
}
.chart-container .create:hover, .chart-container .admin:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}
.chart-container .chart-wrapper {
  width: 3000px;
  height: 700px;
}

h1 {
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

header {
  padding: 30px;
}
header ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header li {
  list-style: none;
}
header a {
  font-size: 13px;
  color: #000;
}
@media screen and (min-width: 768px) {
  header a {
    font-size: 16px;
  }
} */
